section {
    width: 100vw;
    height: 90vh;
    display: flex;
    .left_block {
        width: 20%;
        height: 100%;
        padding: 10px;
        button {
            width: 100%;
        }
    }
    .right_block {
        width: 80%;
        height: 100%;
        padding: 10px;
    }
}